{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set tabs = adminTabs %}
{% set selectedTab = 'translators' %}

{% set title = 'Translations'|t %}
{% set extraPageHeaderHtml = '<small class="acclarotranslations-version-header">' ~ 'Version'|t ~ ' ' ~ pluginVersion ~ '</small>' %}

{% includeCssResource "acclarotranslations/css/AcclaroTranslations.css" %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('acclarotranslations') },
    { label: 'Translators'|t, url: 'javascript:void(0)' },
] %}

{% block content %}
<div class="acclarotranslations-element-index">
    <h1>{{ 'Translators'|t }}</h1>

    <a class="btn big submit add icon" href="{{ url('acclarotranslations/translators/new') }}">{{ 'Add New Translator'|t }}</a>

    {% if translators is not empty %}
    <table class="data">
        <thead>
            <tr>
                <th>{{ 'Translator'|t }}</th>
                <th>{{ 'Languages'|t }}</th>
                <th>{{ 'Status'|t }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for translator in translators %}
            <tr>
                <td><a href="{{ url('acclarotranslations/translators/detail/'~translator.id) }}">{{ translator.name }}</a></td>
                <td>
                {% for language in translator.languagesArray %}
                    {{ craft.i18n.localeData.language(language) }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>{{ translator.status|t }}</td>
                <td>
                    <form method="post" accept-charset="UTF-8">
                        {{ getCsrfInput() }}

                        {{ forms.hidden({
                            name: 'action',
                            value: 'acclaroTranslations/deleteTranslator',
                        }) }}

                        {{ forms.hidden({
                            name: 'translatorId',
                            value: translator.id,
                        }) }}

                        <a class="icon delete formsubmit" title="{{ 'Delete Translator Service'|t }}" data-confirm="{{ 'Are you sure you want to delete this translator?'|t }}"></a>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}