{% extends '_layouts/cp' %}

{% set tabs = adminTabs %}
{% set selectedTab = 'about' %}

{% set title = 'Translations'|t %}
{% set extraPageHeaderHtml = '<small class="acclarotranslations-version-header">' ~ 'Version'|t ~ ' ' ~ pluginVersion ~ '</small>' %}

{% includeCssResource "acclarotranslations/css/AcclaroTranslations.css" %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('acclarotranslations') },
    { label: 'About'|t, url: 'javascript:void(0)' },
] %}

{% block content %}
    <h1>{{ 'About'|t }}</h1>

    <div class="acclarotranslations-about">
        <div class="acclarotranslations-about-logo"></div>

        <h2 class="acclarotranslations-about-header">{{ 'Craft Translations Plugin'|t }}</h2>

        <p class="acclarotranslations-about-author">{{ 'by Acclaro Inc.'|t }}</p>
        <p class="acclarotranslations-about-version">{{ 'Version'|t }} {{ pluginVersion }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://straightupcraft.com/craft-plugins/translation-plugin" target="_blank">{{ 'Check for updates'|t }} &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://info.acclaro.com/hubfs/Product/CraftTranslationPlugin/CraftTranslationPluginQuickStartGuide.pdf" target="_blank">{{ 'View Documentation'|t }} &raquo;</a></p>

        <div class="acclarotranslations-about-text">
            <p>The Craft Translations Plugin is made available for your use by <a href="http://www.acclaro.com/" target="_blank">Acclaro Inc</a>. By using this plugin you agree to the terms and conditions as documented in the <a href="https://my.acclaro.com/p.php/useragreement" target="_blank">Acclaro User Agreement</a>.</p>

            <p>Prior to installation and use of this plugin it is recommended that you back up your site content. If you have any questions about this plugin or the policies surrounding its use, please <a href="mailto:api@acclaro.com">contact us</a>. We would also appreciate your feedback and ideas for future improvements.</p>
        </div>

        <p class="acclarotranslations-about-copyright">{{ 'Copyright %d Acclaro Inc. All rights reserved.'|t|format(now.year) }}</p>
    </div>
{% endblock %}